.App {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monitor{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 80px;
  border: 3px solid gray;
  border-radius: 20px;
  margin-bottom: 15px;
}

.calculate-root{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.numbers{
  width: 320px;
  padding: 20px;
  display: flex;
  gap:5px;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid gray;
  border-radius: 20px;
}

.number{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
}

.eraser{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: cadetblue;
}

.operation{
  padding: 10px;
  width: 80px;
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  border-radius: 20px;
  align-items: center;
}

.operate{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: burlywood;
}






